
.menu-top__list  {
    transform: translateX(var(--p4));
}

.aanleg-top {
    background-image: url('../img/public_4.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: var(--p23);
}

.aanleg-top-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: calc(var(--p4)*1.3);
    gap: var(--p10);
    margin-bottom: var(--p20);
    max-width: 90rem;
    margin: 0 auto;
    padding: var(--p4);
}

.aanleg-top :last-child {
    justify-content: flex-end;
}

.aanleg-top__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: var(--p4);
    font-family: var(--font-family__text-light);
    width: calc(var(--p20)*2.2);
}

.aanleg-top__menu,
.aanleg-top__menu__textblock {
    margin-top: var(--p8);
    padding: var(--p4);
    background-color: white;
}

.aanleg-top__menu__textblock {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--p4);
    max-width: 40%;
    min-width: calc(var(--p20)*4);
}

.aanleg-top__text {
    font-family: var(--font-family__text-light);
    font-size: var(--font-size__menu-large);
    font-weight: var(--font-weight__text);
}

.aanleg-top__contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    transform: translateY(var(--p23));
}

.aanleg-top__contact span a{
    text-decoration: underline;
    font-family: var(--font-family__text-light);
    font-size: var(--font-size__footer-large);
    font-weight: var(--font-weight__text);
}

.aanleg-top__contact span {
    font-family: var(--font-family__menu-large);
    font-size: var(--font-size__menu-large);
    font-weight: var(--font-weight__menu-large);
}

.top__contact-shout {
    background-color: var(--color-green-100);
    padding: var(--p6) var(--p10) var(--p6) var(--p6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.top__contact-arrow {
    background-color: var(--color-green-500);
    padding: var(--p6) var(--p6) var(--p6) var(--p6);
    border-bottom: calc(var(--p4)*0.8) solid var(--color-green-500);
}

.top__contact-arrow:hover {
    background-color: var(--color-green-hover);
    border-bottom: calc(var(--p4)*0.8) solid var(--color-green-hover);
    cursor: pointer;
}

.shout__details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--p2);
}

.aanleg_body_listing,
.onderhoud_body_listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--flex-gap-images);
    max-width: 70%;
    justify-content: center;
}

.aanleg_body_listing,
.onderhoud_body_listing {
    margin: calc(var(--p23)*1) auto calc(var(--p23)*1) auto;
}

.body_list_items {
    width: 45%;
}

/* .refsection {
    margin: var(--p4) 0;
} */

.aanleg-references-block {
    margin: calc(var(--p10)*1.5) auto;
}

.aanleg-references-block h2 {
    margin-bottom: var(--p6);
}

.aanleg_references_listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: var(--flex-gap-images);
}

.aanenonder_references-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: calc(var(--flex-gap-images)/2);
}
/* 
.reference-picture {
    width: 100%;
    overflow: hidden;
    display: block;
}

.reference-picture > img {
    width: 100%;
    aspect-ratio: var(--aspect-ratio-standard);
    object-fit: cover;
    object-position: 50% 50%;   
}*/

.aanleg-reference-title,
.onderhoud-reference-title {
    font-family: var(--font-family__text-light);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);
    line-height: calc(var(--line-height-menu)*1.2);
    border-bottom: solid var(--color-green-divider-line);
    margin: var(--p) 0 var(--p10) 0;
    display: block;
} 

.aanleg-refsection,
.onderhoud-refsection {
    max-width: 30%;
    min-width: calc(var(--p23)*4);
}

.image-body {
    width: 100%;
    overflow: hidden;
    display: block;
}

.image-body > img {
    aspect-ratio: var(--aspect-ratio-services-body);
    object-fit: cover;
    width: 100%;
    object-position: 50% 50%;
    transition: .6s ease;
}

.body_list_items:hover img{
    transform: scale(1.2);
}

.text-body {
    font-family: var(--font-family_Adelle);
    line-height: var(--line-height-text);
    margin: var(--p2) 0;
}
