
.aanleg-top {
    background-image: url('../img/public_4.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: calc(var(--p23)*1.2);
}

.aanleg-top-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: calc(var(--p4)*1.3);
    gap: var(--p10);
    margin-bottom: var(--p20);
    max-width: 90rem;
    margin: 0 auto;
    padding: var(--p4);
}

.aanleg-top :last-child {
    justify-content: flex-end;
}

.aanleg-top__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: var(--p4);
    font-family: var(--font-family__text-light);
    width: calc(var(--p20)*2.2);
}

.aanleg-top__menu,
.aanleg-top__menu__textblock {
    margin-top: var(--p8);
    padding: var(--p4);
    background-color: white;
}

.aanleg-top__menu__textblock {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--p4);
    max-width: 40%;
    min-width: calc(var(--p20)*4);
}

.aanleg-top__text {
    font-family: var(--font-family__text-light);
    font-size: var(--font-size__menu-large);
    font-weight: var(--font-weight__text);
}

.form-body {
    background-color: var(--color-green-100);
    display: flex;
    flex-direction: column;
    gap: var(--p10);
    padding-top: var(--p23);
    font-family: var(--font-family__menu-large);
    font-size: var(--font-size__text);
}

.form-text {
    display: flex;
    flex-direction: column;
    gap: var(--p4);
    margin-bottom: var(--p6);
}

.form-text > input {
    padding-bottom: var(--p2) ;
}

.form-text input:focus,
#message:focus {
    outline: none;
    border-bottom: calc(var(--p)/3) solid var(--color-border-input-active);
    border-top: rgba(0, 0, 0, 0%);
    border-right: rgba(0, 0, 0, 0%);
    border-left: rgba(0, 0, 0, 0%);
}

.form-text p {
    width: 50%;
}

p {
    font-size: var(--font-size-bigtext);
}

form {
    font-size: var(--font-size-bigtext);
}

fieldset {
    border: none;
}

legend, 
.text-bold,
.text-fat-underline-orange {
    font-family: var(--font-family__menu-button);
}

input,
textarea {
    border-top: rgba(0, 0, 0, 0%);
    border-right: rgba(0, 0, 0, 0%);
    border-left: rgba(0, 0, 0, 0%);
    border-bottom: calc(var(--p)/3) solid var(--color-border-input);
    background-color: rgba(0, 0, 0, 0%);
    color: var(--color-input);
}

textarea {
    width: 100%;
}

@media (min-width:62rem) {
    .info-personal .form-text { 
        width: 49%;
    }
    .info-personal {
        display: flex;
        flex: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.radio {
    gap: var(--p);
}

.radio-buttons {
    margin-bottom: var(--p6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-radio,
.form-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: var(--p4);
}

.form-radio > input,
.form-checkbox > input {
    width: calc(var(--p4)*0.8);
}

.form-checkbox {
    margin: var(--p10) 0;
}

.form-select-option {
    display: flex;
    flex-direction: column;
    width: calc(var(--p10)*3.75);
    margin-bottom: var(--p4);
}

.form-select-option :nth-child(1) {
    margin-bottom: var(--p2);
}

.asterisk-orange {
    color: var(--color-orange);
    font-size: calc(var(--font-size-bigtext)*1.2);
}

#button-orange {
    display: inline-block;
    background-color: var(--color-orange);
    padding: var(--p4);
    margin: 0 var(--p2) var(--p2) 0;
    line-height: calc(var(--line-height-menu)/2);
    cursor: pointer;
}

input[type=submit] {
    color: white;
    text-decoration: none;
    font-family: var(--font-family_Space);
    font-weight: var(--font-weight-fattext);
    cursor: pointer;
}

.text-fat-underline-orange {
    padding-bottom: calc(var(--p)/4);
    border-bottom: calc(var(--p)/2) solid var(--color-orange);
    line-height: var(--line-height-text);
}



