.footer {
  transform: translateY(-30rem);
}

.footer-container {
  background-color: var(--color-green-500);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateX(calc(var(--p4))) translateY(calc(var(--p23)*2));
  margin-right: var(--p4);
  max-width: 90rem;
  margin: 0 auto;
}


.footer-bottom,
.disclaimer {
  background-color: var(--color-green-800);
}


.footer-bottom-container {
  padding: calc(var(--p23)*2.5) calc(var(--p10)*2) var(--p10) 0;
}


.footer-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90rem;
  margin: 0 auto;
  transform: translateX(-4rem);
}

#footer-link {
  color: var(--color-white);
  text-decoration: underline;
  font-family: var(--font-family__footer-text);
  font-size: var(--font-size__footer-large);
  font-weight: var(--font-weight__text);
}

#footer-link:hover {
  text-decoration: none;

}

.footer-text-bottom {
  font-size: var(--font-size-title);
}

.footer-action {
  color: var(--color-green-200);
  font-family: var(--font-family__menu-large);
  font-size: var(--font-size__menu-button);
  font-weight:var(--font-weight__menu-large);
}

.footer-text {
  width: 50%;
  padding: var(--p10);
}

.footer-text_top {
  color: var(--color-white);
  font-family: var(--font-family__menu-large);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight__menu-large);
  line-height: var(--line-height-menu);
}

.footer-text-bottom,
.disclaimer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerimg {
  margin-right: var(--p10);
}

.footer-tel,
.footer-email {
  display: flex;
  flex-direction: column;
  margin: var(--p10) 0 0 0;
}

.footer-bottom-title {
  font-family: var(--font-family__menu-large);
  color: var(--color-green-300);
  font-size: var(--font-size__footer-large);
  font-weight: var(--font-weight__menu-button);
}

.footer_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: var(--p4);
}

.footer_list-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer_item-text {
  font-family: var(--font-family__footer-text);
  font-size: var (--font-size-text);
  font-weight: var(--font-weight__menu-button);
}

.footer_item-text a {
  color: var(--color-white);
}

.icon-arrow {
  margin-right: var(--p2);
}

.footer_text-phone a,
.footer_text-email a {
  color: var(--color-white);
}

.disclaimer {
  font-family: var(--font-family__footer-text);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight__text);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 var(--p6) var(--p20);
  transform: translateX(-4rem);
  border-left: var(--p20) solid var(--color-green-800);
  justify-content: flex-start;
}

#disclaimer-link {
  text-decoration: underline;
}

.disclaimer-left {
  display: flex;
  gap: var(--p10);
  color: var(--color-white);
  margin-right: var(--p10);
}

.disclaimer-right,
.disclaimer-right a,
.footer_list :nth-child(5) {
  color: var(--color-green-grey);
}

.logo-footer {
  margin-left: var(--p20);
}