.usps {
  transform: translateX(-2.5rem);
}

.usps__list,
.menu-top__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
} 

.usps__list,
.usps__list-item,
.menu-top__list__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-right: var(--p4);
}

.usps__list-item,
.text-email, 
.text-phone {
  font-family: var(--font-family__footer-text);
  font-size: var(--font-size__body-text);
  font-weight: var(--font-weight__menu-button);
}

.usps__list-item > .icon-check,
.contact-phone > .icon-phone,
.contact-email > .icon-envelope {
  margin-right: var(--p2);
}

.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
} 

.contact-email,
.contact-phone {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.contact-email{
  margin-right: var(--p4);
}

.text-email,
.text-phone {
  text-decoration: underline;
}

.menu-top__list__item {
  font-family: var(--font-family__menu-large);
  font-size: var(--font-size__menu-large);
  font-weight: var(--font-weight__menu-large);
}

.menu-top__list :nth-child(4) {
  background-color: var(--color-orange);
  padding: var(--p4);
  font-family: var(--font-family__menu-button);
  font-size: var(--font-size__menu-button);
  font-weight: var(--font-weight__menu-button);
}

.menu-top__list :nth-child(4):hover {
  background-color: var(--color-orange-hover);
}

.menu-top__list {
  gap: 2rem;
}

#contact  {
  color: var(--color-white);
}

.logo {
  /* margin-left: 2.5rem; */
  align-self: center;
}

.logo > img {
  height: 3rem;
}

.menu-top__list__item {
  line-height: var(--line-height-menu);
}