.usps {
  transform: translateX(-100rem);
}

@media (min-width: 65rem) {
  .usps {
    transform: translateX(-2.5rem);
  }
}

.usps__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
} 

.usps__list,
.usps__list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-right: var(--p4);
}

.menu-top {
  min-width: 50rem;
}

@media(min-width:61rem) {
  .menu-top {
  min-width: 30rem;
  }
}

.menu-top__list__item {
  width: 15rem;
  height: 2rem;
}

.menu-top__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: var(--p4) 0 0 0;
  gap: 0;
  border: var(--color-green-500) solid calc(var(--p)/3);
} 

.menu-top__list__item {
  color: var(--color-green-500);
  padding: var(--p) calc(var(--p20)/1.6);
  text-align: center;

}

.menu-top__list__item:nth-of-type(4),
.menu-top__list__item:nth-of-type(3),
.menu-top__list__item:nth-of-type(2)
{
  border-left: var(--color-green-500) solid calc(var(--p)/3); 
}

@media(min-width:61rem){
.menu-top__list__item:nth-of-type(4),
.menu-top__list__item:nth-of-type(3),
.menu-top__list__item:nth-of-type(2)
  {
    border-left: none; 
  }
}

@media(min-width:61rem) {
  .menu-top__list :last-child {
  min-width:fit-content;
  }
}

@media (min-width:61rem) {
  .menu-top__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    gap: var(--p10);
  }
}

@media(min-width:61rem){
  .menu-top__list__item {
    border: none;
  }
}

.menu-top__list__item:hover {
  background-color: var(--color-green-100);
}

@media(min-width:61rem) {
  .menu-top__list__item:hover {
    background-color: white;
  }
}

@media(min-width:61rem) {
.menu-top__list__item a:hover {
  color: var(--color-green-500);
}
}

.usps__list-item,
.text-email, 
.text-phone {
  font-family: var(--font-family__footer-text);
  font-size: var(--font-size__body-text);
  font-weight: var(--font-weight__menu-button);
}

.usps__list-item > .icon-check,
.contact-phone > .icon-phone,
.contact-email > .icon-envelope {
  margin-right: var(--p2);
}

.contact{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
  transform: translateY(-1.55rem);
} 

@media (min-width:61rem) {
  .contact {
    transform: translateY(0);
  }
}

.contact-email,
.contact-phone {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.contact-email{
  margin-right: var(--p4);
}

.text-email,
.text-phone {
  text-decoration: underline;
}

.text-email:hover,
.text-phone:hover {
  text-decoration: none;
}

.header2 {
  display: flex;
  flex-direction: column;
}

.header2 :first-child {
  align-self: flex-start;
}

@media(min-width:61rem) {
  .header2 :first-child {
    align-self: center;
  }
}

@media(min-width: 61rem) {
.header2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}

.menu-top__list {
  flex-wrap: wrap;
}

@media (min-width:61rem){
.menu-top__list {
  /* gap: 2rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: none;
  justify-content: space-between;
}
}

@media (min-width:61rem) {
  .menu-top__list__item {
    border-right: none;
  }
}

.menu-top__list__item {
  font-family: var(--font-family__text-light);
  font-size: var(--font-size__menu-large);
  font-weight: var(--font-weight__text);
  width: fit-content;
}

@media(min-width:61rem) {
  .menu-top__list :last-child {
    width: 10rem;
    height: 3.5rem;
}
}

@media(min-width:61rem) {
    .menu-top__list__item:first-child {
      width: 6rem;
      height: 2rem;
    }
}

@media(min-width:61rem) {
  .menu-top__list__item {
      width: 8rem;
      height: 2rem;
}
}

.menu-top__list__item a,
.menu-top__list__item4 a {
  color: var(--color-green-500);
}

@media (min-width:61rem) {
  .menu-top__list__item a {
    color: var(--color-black);
}
}

@media (min-width:61rem) {
  .menu-top__list__item :last-child {
    padding: 0;
    transform: translateX(0);
    transform: translateY(0);
  }
}

@media(min-width:61rem) {
  .menu-top__list__item {
  font-family: var(--font-family__menu-large);
  font-size: var(--font-size__menu-large);
  font-weight: var(--font-weight__bold);
}
}

@media (min-width: 61rem) {
.menu-top__list :nth-child(4) {
  background-color: var(--color-orange);
  padding: var(--p4);
  font-family: var(--font-family__menu-button);
  font-size: var(--font-size__menu-button);
  font-weight: var(--font-weight__bold);
  transform: translateX(var(--p4));
}
}

@media (min-width:61rem) {
.menu-top__list :nth-child(4):hover {
  background-color: var(--color-orange-hover);
  cursor: pointer;
}
}

@media (min-width:61rem) {
#contact  {
  color: var(--color-white);
}
}

.logo {
  /* margin-left: 2.5rem; */
  align-self: center;
}

.logo > img {
  height: 3rem;
}

