.contact-phone :last-child {
    transform: translateX(var(--p4));
}

.indexpics {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    column-gap: var(--flex-gap-images);
    width: 100%;
    height: 100%;
    white-space: nowrap;
    margin: auto 0;
    justify-content: space-between;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
}

.scroll-element {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.what-container,
.what-right {
    margin: var(--p10) 0 var(--p23) 0;
}

.what-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.what-left {
    width: 40%;
}

.what-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
}

.what-right-block {
    padding: var(--p4) 0;
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--P4);
}

.subtitle-green {
    display: inline-block;
    font-family: var(--font-family__menu-large);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight__bold);
    color: var(--color-green-500);
    margin-bottom: var(--p4);
}

.what-ul-title {
    font-family: var(--font-family__menu-large);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight__bold);
    color: var(--color-orange); 
    display: block;
    margin-left: var(--p10);
    margin-bottom: var(--p4);
}


.what-li {
    font-family: var(--font-family__text-light);
    font-size: var(--font-size__menu-large);
    font-weight: var(--font-weight__text);
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: calc(var(--p)/10) solid var(--color-orange);
    gap: var(--p4);
    padding: var(--p2) 0 var(--p4) 0;
}

.what-li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.what-li span {
    width: 20rem;
    height: 2rem;
}

.what-li div {
    width: var(--p10);
    height: var(--p10);
}

.story {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--color-green-100);
}

.story-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto;
    gap:calc(var(--p23)*1.2);
}

.story-top__image {
    width: 50%;
    margin-left: var(--p4);
}

.story-top__image img {
    transform: translateY(-6rem);
}

.story-top-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: var(--p8);
}

.story-top-ul {
    display: flex;
    flex-direction: column;
    gap: var(--p8);
    transform: translateX(-2.5rem);
}

.story-top__image img {
    max-width: calc(var(--p20)*8);
    aspect-ratio: 1.5/2;
    object-fit: cover;
}

.story-top-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: calc(var(--p)/10) solid var(--color-orange);
    font-family: var(--font-family__menu-button);
    font-size: var(--font-size-submedium);
    font-weight: var(--font-weight__bold);
    padding-bottom: var(--p4);
}

.story-top-li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.story-top-ul :last-child {
    border-bottom: none;
}

.story-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--p10);
    margin: var(--p2) 0 var(--p23) 0;
}

.story-bottom h2 {
    align-self: center;
}

.story-bottom-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--p10);
    justify-content: center;
}

.story-bottom-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.story-bottom-text {
    font-family: var(--font-family__text-light);
    font-size: var(--font-size__menu-button);
    font-weight: var(--font-weight__text);
}

.experts {
    display: flex;
    gap: var(--flex-gap-images);
    padding-top: var(--p4);
}

.experts-left {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap-images);
}

.experts-right {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap-images);
}

.experts-right .index-block-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    gap: var(--p6);
}

.indexpics:hover {
    cursor: pointer;
}

.index-block-block ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--p4);
}

.index-block-image {
    margin-top: var(--p4);
}

.experts-right .index-block-image > img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.index-block-block {
    background-color: var(--color-orange);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: var(--p6);
}

.index-block-block:hover {
        background-color: var(--color-orange-hover);
        cursor: pointer;
}

.button-black {
    font-family: var(--font-family__menu-button);
    font-size: var(--font-size__body-text);
    font-weight: var(--font-weight__bold);
    background-color: var(--color-black);
    padding: var(--p) var(--p4);
    margin: 0 0 var(--p4) var(--p10);
}

.index-block h2 {
    padding: var(--p10) 0 var(--p8) 0;
}

.index-block-block ul li {
    padding: 0 1rem 0 0;
}

.index-block-block ul :nth-child(1) {
    font-family: var(--font-family__menu-large);
    font-size: var(--font-size__menu-large);
    font-weight: var(--font-weight__bold);
}

.index-block-block ul :nth-child(2) {
    font-family: var(--font-family__footer-text);
    font-size: var(--font-size__text);
    font-weight: var(--font-weight__text);
    max-height: 1.2rem;
    max-width: 70%;
    overflow: hidden;
}

.index-block-block ul :nth-child(3) span {
    font-family: var(--font-family__footer-text);
    font-size: var(--font-size__menu-large);
    font-weight: var(--font-weight__bold);
    padding-bottom: calc(var(--p2)*0.53);
}

.index-block-block ul :nth-child(3) span:hover {
    padding-bottom: calc(var(--p)*0.7);
    border-bottom-style: solid;
    border-bottom-width: ;
    width: fit-content;
}

.index-block-block ul :last-child {
    display: flex;
    gap: calc(var(--flex-gap-images)/2);
    align-items: baseline;
}

figure a > img {
    min-width: calc(var(--p20)*4);
    aspect-ratio: var(--aspect-ratio-standard);
    object-fit: cover;
    object-position: 50% 50%;
    display: inline-block;
}

.indexpic-title {
    font-family: var(--font-family__footer-text);
    font-size: var(--font-size__text);
    font-weight: var(--font-weight__text);
    line-height: calc(var(--line-height-menu)*1.5);
    border-bottom: solid var(--color-green-divider-line);
    margin: var(--p) 0 var(--p10) 0;
    display: block;
}

#clipped {
    clip-path: url(#cut-outs);
  }

.why-us-container {
    background-color: var(--color-green-100);
    border-bottom: calc(var(--p23)*3) solid var(--color-green-100);
    padding-top: var(--p15);
}

.why-us-content-block {
    max-width: 90rem;
    margin: 0 auto;
    padding: var(--p4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--flex-gap-images);
    justify-content: space-between;
}

.way-of-working {
    width: 40%;
}

.why-us-list {
    list-style: none;
    transform: translateX(-2.4rem);
    width: 28rem;
}

.li-image {
    background-image: url('../img/breadcrumb-divide.svg');
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: var(--p6);
    transform: translateX(-.6rem);
}

.why-us-list li {
    display: flex;
    align-items: center;
    font-family: var(--font-family__text-light);
    font-size: var(--font-size__menu-large);
    font-weight: var(--font-weight__text);
    border-bottom: calc(var(--p)/10) solid var(--color-orange);
    line-height: calc(var(--p10)*1.4);
    width: calc(var(--p20)*2.3);
    padding-left: .7rem;
    width: 100%;
}

.why-us-list :last-child {
    border-bottom: none;
}


