:root {
  --color-black:  #13322b;
  --color-orange: rgb(237,116,71);
  --color-white: rgb(255, 255, 255);
  --color-green-100: rgb(221, 236, 229);
  --color-green-200: rgb(191, 217, 204);
  --color-green-300: rgb(142, 193, 170);
  --color-green-400: rgb(141, 152, 149);
  --color-green-500: rgb(59, 132, 89); 
  --color-green-800: rgb(25, 49, 43); 
  --color-grey: rgb(221, 221, 221);
  --font-family_Adelle: 'Adelle Sans CYR'; 
  --font-family_Space: 'Space Grotesk';
  --p: .25rem;
  --p2: calc(var(--p)*2); 
  --p4: calc(var(--p)*4);
  --p6: calc(var(--p)*6);
  --p8: calc(var(--p)*8);
  --p10: calc(var(--p)*10);
  --font-size-text: .8rem;
  --font-size-title: 1.1rem; 
  --font-size-big: 1.6rem;  
  --font-weight-text: 400rem;
  --font-weight-title: 900rem;
  --line-height-menu: 2rem;
}

body {
  font-family: var(--font-family_Space);
  color: var(--color-black);
  line-height: 1.56rem;
  font-weight: var(--font-weight-text);
  font-size: var(--font-size-text);
}

a {
  text-decoration: none;
  color: var(--color-black);
}

h1 {
  font-family: var(--font-family_Adelle);
  
}
h2 {
  
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: var(--p4);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
}