.reference,
.reference_b2b {
    width: 29%;
}

.references-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: var(--flex-gap-images);
}

.reference-picture {
    width: 100%;
    overflow: hidden;
    display: block;
}

.reference-picture > img {
    width: 100%;
    aspect-ratio: var(--aspect-ratio-standard);
    object-fit: cover;
    object-position: 50% 50%;   
}

.reference-title {
    font-family: var(--font-family_Adelle);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);
    line-height: calc(var(--line-height-menu)*1.5);
    border-bottom: solid var(--color-green-divider-line);
    margin: var(--p) 0 var(--p10) 0;
}

.text-regular {
    font-size: var(--font-size-title);
    margin: var(--p8) 0 var(--p8) 0;
}

.anchor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--p);
    align-items: center;
    margin: var(--p) var(--p2) var(--p10) 0;
    background-color: var(--color-green-100);
    padding: var(--p4);
}

.anchor-container > img {
    display: block;
    width: 1.3rem;
    margin-right: var(--p2);
}

.anchor-titles {
    font-family: var(--font-family_Adelle);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: var(--flex-gap-images);
    width: 100%;
    justify-content: flex-start;
}

.references-list_private,
.references-list_b2b,
.references-list_public {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--p4);
}

.refsection,
.refsection-b2b {
    margin: var(--p4) 0;
}

.refsection-b2b {
    padding: var(--p10) 0;
    background-color: var(--color-green-100);
}