.footer-all {
  transform: translateY(-23rem);
}

@media(min-width:61rem) {
  .footer-all {
    /* transform: translateY(-23rem); */
  }
}

.footer-container {
  background-color: var(--color-green-500);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateY(calc(var(--p23)*2));
  margin-right: var(--p4);
  max-width: 90rem;
  min-width: 30rem;
  margin: 0 auto;
}

.footer-bottom,
.disclaimer {
  background-color: var(--color-green-800);
}

.footer-bottom-container {
  padding: calc(var(--p23)*2.5) calc(var(--p10)*2) var(--p10) 0;
}

.footer-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90rem;
  margin: 0 auto;
  transform: translateX(-4.7rem);
}

.button-orange{
  display: inline-block;
  background-color: var(--color-orange);
  background-color: var(--color-orange);
  padding: var(--p4);
  font-family: var(--font-family__menu-button);
  font-size: var(--font-size__body-text);
  font-weight: var(--font-weight__menu-button);
  color: white;
  padding: var(--p4);
  text-decoration: none;
  cursor: pointer;
  margin: var(--p6) var(--p2) 0 0;
  line-height: calc(var(--line-height-menu)/2);
}

.button-orange a {
  color: white;
}

.button-orange:hover {
  background-color: var(--color-orange-hover);
  cursor: pointer;
}

.footer-link1 a,
.footer-link2 a {
  color: var(--color-white);
  font-family: var(--font-family__footer-text);
  font-size: var(--font-size__menu-large);
  font-weight: var(--font-weight__text);
  padding-bottom: calc(var(--p)/4);
  border-bottom: calc(var(--p)/2) solid white;
}

.footer-link1 a:hover,
.footer-link2 a:hover {
  border-bottom: none;
  cursor: pointer;
}

.footer-text-bottom {
  font-size: var(--font-size-title);
}

.footer-action {
  color: var(--color-green-200);
  font-family: var(--font-family__menu-large);
  font-size: var(--font-size__menu-large);
  font-weight:var(--font-weight__bold);
}

.footer-text {
  width: 100%;
  padding: var(--p10);
}

@media(min-width:61rem) {
  .footer-text {
    width: 50%;
    padding: var(--p10);
  }
}

.footer-text_top {
  color: var(--color-white);
  font-family: var(--font-family__menu-large);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight__bold);
  line-height: var(--p8);
}

.footer-text-bottom,
.disclaimer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: calc(var(--p4)*1.2);
}

@media(min-width:61rem) {
  .footer-text-bottom,
  .disclaimer {
    justify-content: space-between;
  }
}

@media(min-width:31rem) {
  .footer-text-bottom,
  .disclaimer {
  flex-direction: row;
}
}

.footerimg {
  margin-right: var(--p10);
}

.footer-tel,
.footer-email {
  display: flex;
  flex-direction: column;
  margin: var(--p10) 0 0 0;
  min-width: calc(var(--p23)*2);
}

.footer-bottom-container {
  display: flex;
  flex-direction: column;
  margin-left: var(--p10);
  flex-wrap: wrap;
  gap: var(--p10);
}

@media (min-width:31rem) {
  .footer-bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
  }
}

.footer-bottom-title {
  font-family: var(--font-family__menu-large);
  color: var(--color-green-300);
  font-size: var(--font-size-submedium);
  font-weight: var(--font-weight__bold);
}

.footer_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: var(--p4);
  margin-left: var(--p10);
}

.footer_list-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer_item-text,
.footer_item-text-contact {
  font-family: var(--font-family__footer-text);
  font-size: var(--font-size__menu-large);
  font-weight: var(--font-weight__menu-button);
}

.footer_item-text a,
.footer_item-text-contact a {
  color: var(--color-white);
}

.footer_item-text a:hover {
  text-decoration: underline;
}

.footer_item-text-contact a {
  text-decoration: underline;
}

.footer_item-text-contact a:hover {
  text-decoration: none;
}

.icon-arrow {
  margin-right: var(--p2);
}

.footer_text-phone a,
.footer_text-email a {
  color: var(--color-white);
}

.disclaimer {
  font-family: var(--font-family__footer-text);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight__text);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 var(--p6) var(--p20);
  transform: translateX(-9rem);
  border-left: var(--p20) solid var(--color-green-800);
  justify-content: flex-start;
}

#disclaimer-link {
  text-decoration: underline;
}

.disclaimer-left {
  display: flex;
  gap: var(--p10);
  color: var(--color-white);
  margin-right: var(--p10);
}

.disclaimer-right,
.disclaimer-right a,
.footer_list :nth-child(5) {
  color: var(--color-green-grey);
}

.logo-footer {
  margin-left: var(--p20);
}

.footerimg {
  transform: translateX(100rem);
  width: 0rem;
  height: 0rem;
}

@media(min-width:61rem) {
  .footerimg {
    transform: translateX(0);
    width: 40%;
    height: 100%;
  }
}
